html{
    height: 100%;
    width: 100%;
}

.cube{
    left: 0px;
    right: 0px;
    margin: 0px auto;
    position: fixed;
    width: 100px;
    height: 230px;
    transform-style: preserve-3d;
    transform: translate(-50%,-50%);
    margin-left: 50vw;
    margin-top: 50vh;
}

.face{
    width: 100%;
    height: 100%;
    background-color: #ccc;
    border: 1px solid #999;
}
/* 
.front{
    background-color: yellow;
    transform: translateZ(50px);
}

.back{
    background-color: green;
    transform: rotateY(180deg) translateZ(50px);
}

.top{
    background-color: crimson;
    transform: rotateX(-90deg) translateZ(50px);
}

.bottom{
    background-color: blue;
    transform: rotateX(90deg) translateZ(50px);
}

.left{
    background-color: violet;
    transform: rotateY(-90deg) translateZ(50px);
}

.right{
    background-color: aqua;
    transform: rotateY(90deg) translateZ(50px);
} */